<!DOCTYPE html>
<html lang="fr">
<head>
    <title>À propos de Mentorship</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
</head>
<body>
  
    <header class="header">
        <h1>À propos de Mentorship</h1>
        <p>Notre mission est de connecter les mentors et les apprenants pour un apprentissage optimisé.</p>
    </header>

   
    <main class="about-content">
        <section class="mission">
            <h2>Pourquoi cette plateforme ?</h2>
            <p>Nous voulons réduire la difficulté d’accès aux opportunités et aider chaque apprenant à trouver le bon mentor.</p>
        </section>

        <section class="goals">
            <h3>Nos objectifs</h3>
            <ul>
                <p>Faciliter l’orientation scolaire et professionnelle.</p>
                <p>Offrir des ressources pédagogiques interactives.</p>
                <p>Connecter les apprenants avec des mentors qualifiés.</p>
            </ul>
        </section>

        <div class="buttons-container">
            <a href="/dashboard/" class="btn">Accéder au Tableau de Bord</a>
            <a href="/" class="btn return-btn">← Retour à l'Accueil</a>
        </div>
    </main>

 
   
</body>
<footer class="footer">
    <p>&copy; 2025 Mentorship - Tous droits réservés.</p>
</footer>
</html>