<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Créer une Session de Coaching</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/create_session.css' %}">
</head>
<body>
    <header>
        <h1>Créer une Session de Coaching</h1>
    </header>
    <main>
        <form action="{% url 'create_session' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }} <!-- Affiche le formulaire Django -->
            <button type="submit" class="btn">Créer la Session</button>
            <button type="button" class="btn back-btn" onclick="history.back()">Retour</button>
        </form>
    </main>
    <footer class="footer">
        <p>&copy; 2025 Mentorship - Tous droits réservés.</p>
    </footer>
</body>
</html>